$color-background = #fafafa
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-link = rgba(86, 124, 119, .4)
$color-text = #22272a
$color-accent-1 = #cc2a41
$color-accent-2 = rgba(86, 124, 119, .8)
$color-accent-3 = #666
$color-quote = #cc2a41
$highlight = hexo-config("highlight") || "github"

// light.styl
$opposite-color-background = #e2e0de
$opposite-color-footer-mobile-1 = darken($opposite-color-background, 2%)
$opposite-color-footer-mobile-2 = darken($opposite-color-background, 10%)
$opposite-color-background-code = darken($opposite-color-background, 2%)
$opposite-color-border = #666
$opposite-color-meta = #666
$opposite-color-meta-code = lighten($opposite-color-meta, 10%)
$opposite-color-link = rgba(43, 188, 138, 1)
$opposite-color-text = #363533
$opposite-color-accent-3 = #666666
$opposite-color-accent-2 = #111111
$opposite-color-accent-1 = #d44375
$opposite-color-quote = #ab2251
$opposite-highlight = hexo-config("highlight") || "github"