$color-background = #1d1f21
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #908d8d
$color-meta = #908d8d
$color-meta-code = #908d8d
$color-link = rgba(212, 128, 170, 1)
$color-text = #c9cacc
$color-accent-3 = #cccccc
$color-accent-2 = #eeeeee
$color-accent-1 = #2bbc8a
$color-quote = #ccffb6
$highlight = hexo-config("highlight") || "rainbow"

// white.styl
$opposite-color-background = #FFFFFF
$opposite-color-footer-mobile-1 = darken($opposite-color-background, 2%)
$opposite-color-footer-mobile-2 = darken($opposite-color-background, 10%)
$opposite-color-background-code = darken($opposite-color-background, 2%)
$opposite-color-border = #666
$opposite-color-meta = #666
$opposite-color-meta-code = lighten($opposite-color-meta, 10%)
$opposite-color-link = rgba(212, 128, 170, 1)
$opposite-color-text = #383838
$opposite-color-accent-3 = #8c8c8c
$opposite-color-accent-2 = #383838
$opposite-color-accent-1 = #2bbc8a
$opposite-color-quote = #2bbc8a
$opposite-highlight = hexo-config("highlight") || "atelier-cave-light"
